<table>
<tr>
<td>
<h1>Hello admin</h1>
</td>
</tr>
<tr height="30">&nbsp; </tr>
<tr>
<td>Please share the price of below mention car model : </td>
</tr>
<tr height="30">&nbsp; </tr>
<tr>
<td>
<table width='100%' style='border:2px solid #c1c1c1; background-color: azure;padding:20px'>
<tr>
<td colspan="2">
<h1>User Detail</h1>
</td>
</tr>
<tr>
<td>Name</td>
<td>{{ name }}</td>
</tr>
<tr>
<td>email :</td>
<td> {{ email }}</td>
</tr>
<tr>
<td colspan="2">
<h1>Car Detail</h1>
</td>
</tr>
<tr>
<td>Registration Number :</td>
<td> {{ registration_no }}</td>
</tr>
<tr>
<td>Manufacturer :</td>
<td> {{ Manufacturer }}</td>
</tr>
<tr>
<td>Model :</td>
<td> {{ Model }}</td>
</tr>
<tr height="30">&nbsp; </tr>
<tr>
<td>
<a href="http://localhost:4200/caraccept/{{ registration_no }}">
<button style='border:2px solid #c1c1c1;color:#fff; background-color: black;padding:5px'>Accept</button>
</a>
</td>
<td>
<a href="http://localhost:4200/carreject/{{ email }}">
<button style='border:2px solid #c1c1c1;color:#fff; background-color: red;padding:5px'>Reject</button>
</a>
</td>
</tr>
</table>
</td>
</tr>


<tr height="30">&nbsp; </tr>
<tr>
<td><b>Warm Regards</b></td>
</tr>
<tr>
<td>{{ name }}</td>
</tr>

</table>